/*   comment this part because this version doesnot support variables.
    :root {
    --bs-font-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-weight: 400;
    --bs-body-color: #777;
}*/

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    color: #777;
    padding-top: 50px;
    padding-bottom: 20px;
}

    /* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


h2{
  margin: 1rem 0;
}

.btn-main {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.field-validation-error,
label.error {
    color: red;
}    

.input-validation-error,
input.error{
    border: 1px solid red;
}

.validation-summary-errors {
    color: red;
}

.btn-default {
    background-color: #eceff1;
}

label{
    font-weight: 500;
}

.input-sm {
    text-align:center;
    font-size: 13px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar {
    padding-right: 1rem;
}