<appSettings>
  <!--<add key="MailServer" value="smtp.videostore.com"/>-->
  <add key="FacebookAppId" value="304686245037842"/>
  <add key="FacebookAppScret" value="d462b4a8de21d4aa9ba0b50b81e7748a"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>